# Copy this file to .env and fill in your keys
MASSIVE_API_KEY=API_KEY_HERE

# Reddit WSB API configuration
REDDIT_USERNAME=USERNAME_HERE

WEBULL_APP_KEY=app_key_here                                                                                                                                           
WEBULL_APP_SECRET=app_secret_here                  
WEBULL_ACCOUNT_ID1=account_id1_here
WEBULL_ACCOUNT_ID2=account_id2_here
WEBULL_REGION_ID=us
